*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif
}

.navbar{
    width: 100%;
    position: fixed;
    background-color: #16A34A;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: -150px;
}

.navbar-brand img{
    display: block;
    margin-top: -20px;
}

.lists{
    margin-top: -80px;
    list-style: none;
    text-align: right;
    padding-right: 20px;
}

.list-items{
    display: inline;
     padding-right: 20px;
}

.list-items a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}

.list-items a:hover{
    color: #000000;
}

#header{
    margin-top: 150px;
    text-align: center;
}

#header img{
    max-width: 500px;
    margin: auto;
    display: block;
}

#header h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #16A34A;
}

#header strong{
    font-size: 1.2rem;
}

#products{
    margin-top: 80px;
    text-align: center;
}

#products h1{
    font-size: 2rem;
    padding-bottom: 20px;
    color: #16A34A;
}

.row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

#products img{
    border-radius: 70%;
}

#products button{
    border: none;
    /* border: 2px solid #16A34A; */
    background-color: #16A34A;
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    outline: none;
    cursor: pointer;
}

#products button a{
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}


#addres{
    margin-top: 20px;
    color: #16A34A;
    text-align: center;
    font-size: 1.5rem;
}

#addres iframe{
    max-width: 800px;
    margin: auto;
    display: block;
}

#contact{
    margin-top: 40px;
    text-align: center;
}

#contact h1{
    color: #16A34A;
    font-size: 36px;
}

#contact h2{
    font-size: 21px;
}

.details{
    width: auto;
    display: flexbox;
    padding: 20px 5px;
    background-color: #86EFAC;
}

.details a{
    padding-right: 5px;
    color: #134E4A;
}



#footer{
    background-color: #16A34A;
    margin-top: 50px;
    text-align: center;
    padding: 5px 5px;
}

#footer img{
    margin-top: -15px;
}

.foot{
    margin-top: -50px;
}

.foot h2{
    font-size: 1.5rem;
}
.foot p{
    font-size: 1rem;
    margin-top: -10px;
    font-weight: 600;
}

.remred{
    margin-top: -30px;
    color: #ed2d1f;
}

.remblue{
    margin-top: -30px;
    color: #1f18f3;
}



@media only screen and (max-width: 349px){
    .list-items a{
        font-size: 1rem;
    }
    #header img{
        max-width: 250px;
    }

    #addres iframe{
        max-width: 250px;
    }

    .row{
        grid-template-columns: 100%;
    }

    .list-items{
        padding-right: 5px;
    }
}


@media (min-width: 350px) and (max-width: 610px){
    #header img{
        max-width: 350px;
    }

    #addres iframe{
        max-width: 350px;
    }

    .row{
        grid-template-columns: 100%;
    }

    .list-items{
        padding-right: 5px;
    }
}


@media (min-width:610px) and (max-width: 1255px){
    .row{
        grid-template-columns: 50% 50%;
    }
    #addres iframe{
        max-width: 450px;
    }

}

